name: FLW Android Build (Manual)

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to run build"
        required: true
        type: choice
        options:
          - uat
          - prod
          - SAKSHAM_UAT
          - SAKSHAM_STAG
          - NIRAMAY_PRODUCTION
          - XUSHRUKHA_PRODUCTION

      variant:
        description: "App variant"
        required: true
        default: sakshamDebug
        type: string

      build_type:
        description: "Build type"
        required: true
        default: debug
        type: choice
        options:
          - debug
          - release

jobs:
  flw-build:
    uses: ./.github/workflows/build-distribute.yml
    with:
      environment: ${{ inputs.environment }}
      variant: ${{ inputs.variant }}
      build_type: ${{ inputs.build_type }}
