name: FLW Android Build (Manual)

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Git branch to build"
        required: true
        default: main
        type: string

      environment:
        description: "Environment to run build"
        required: true
        default: uat
        type: choice
        options:
          - SAKSHAM_UAT
          - SAKSHAM_STAG
          - NIRAMAY_PRODUCTION
          - XUSHRUKHA_PRODUCTION


      variant:
        description: "App variant"
        required: true
        default: sakshamDebug
        type: string

      build_type:
        description: "Build type"
        required: true
        default: debug
        type: choice
        options:
          - debug
          - release

      version:
        description: "Build version (example: 2.4.1)"
        required: true
        type: string

jobs:
  flw-build:
    uses: ./.github/workflows/build-distribute.yml
    with:
      branch: ${{ inputs.branch }}
      environment: ${{ inputs.environment }}
      variant: ${{ inputs.variant }}
      build_type: ${{ inputs.build_type }}
      version: ${{ inputs.version }}
    secrets: inherit